#custom-404 {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.title-404 {
  color: #454647;
}

.description-404 {
  font-weight: 300;
}

.button-group-404 {
    width: 565px;
}

