<div class="copyboard-input-container">
    <text id="sber-card">CARD_NUMBER</text> <!-- input field with necessary id attribute -->
    <div class="copyboard-icon" data-clipboard-target="#copy-input-one"> <!-- id from input (or text) should match data-clipboard-target attribute value -->
        <span class="tooltip" aria-label="Copied"></span> <!-- tooltip text in arial-label attribute -->
    </div>
</div>

<!-- name property -->
<div class="copyboard-name-container" data-clipboard-target="#copy-name-one">
    <div class="name-container" id="copy-name-one">BENEFICIARY_NAME</div>
    <div class="tooltip-container">
        <div class="tooltip tooltip-name">Copied</div>
    </div>
</div>