<div class="clipboard-input-container">
    <text id="sber-card">CARD_NUMBER</text> <!-- input field with necessary id attribute -->
    <div class="clipboard-icon" data-clipboard-target="#copy-input-one"> <!-- id from input (or text) should match data-clipboard-target attribute value -->
        <span class="clipboard-tooltip" aria-label="Copied"></span>
    </div>
</div>

<!-- name property -->
<div class="clipboard-name-container" data-clipboard-target="#copy-name-one">
    <div class="clipboard-name" id="copy-name-one">BENEFICIARY_NAME</div>
    <div class="clipboard-tooltip-container">
        <div class="clipboard-tooltip">Copied</div>
    </div>
</div>