#map {
  width: 100%;
  height: 65vh;
  max-width: 1200px;
  max-height: 500px;
  border-radius: 60px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.11), 0px 0px 26px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.cat-marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.cat-marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.cat-marker-cluster span {
  line-height: 30px;
  color: white;
  font-family: 'Inter-Medium', Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}

.marker-cluster-medium {
  background-color: #ff5d03;
}

.marker-cluster-medium div {
  background-color: #ff5d03;
}

.icon-option {
  display: flex;
  cursor: pointer;
  background-color: white;
  padding: 5px;
  border-radius: 25px;
  margin-right: 5px;
  width: 6.5em;
  height: 2em;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
}

.icon-option .svg-icon {
  display: flex;
  vertical-align: middle;
  padding-left: 2px;
}

@media (max-width: 767px) {
  #map {
    max-width: 767px;
    border-radius: 0px;
    box-shadow: none;
  }
}

@media (min-width: 768px) {
  #map {
    max-width: 1200px;
    max-height: 500px;
  }
}
